@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}
ol,
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.second-container{
    width: 1040px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.tt-uppercase{
    text-transform: uppercase;
}
.tt-capitalize{
    text-transform: capitalize;
}
.text-primary{
    color:#3E4A65 ;
}
.bg-primary{
    background: linear-gradient(122.04deg, #CBD7EE 13.36%, #DBDEFF 61.64%);
}