.container{
    width: 100%;
    height: 100%;
    position: relative;
}
h1{
    text-transform: capitalize;
    color: aqua;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    top: 100px;
    left: 100px;
}