@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}
ul,
ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.second-container{
    width: 1000px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.d-inline-block {
    display: inline-block;
}
.d-block {
    display: block;
}
.align-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.justify-center {
    justify-content:center;
}
.justify-between {
    justify-content: space-between;
}
.tt-uppercase{
    text-transform: uppercase;
}
.tt-capitalize{
    text-transform: capitalize;
}
.text-white {
    color: white;
}
